.workspace {
	height: 100%;

	.title-and-search {
		display: flex;
		height: 50px;

		label {
			margin: 10px;
		}

		.title {
			display: flex;
			align-items: center;
			width: 50%;

			input {
				margin: 10px 0;
			}
		}

		.search {
			display: flex;
			width: 50%;
			align-items: center;
		}
	}

	.contentArea {
		height: calc(100% - 50px);
		width: 100%;

		.content {
			height: 100%;
			width: 100%;
			padding: 30px;
			overflow-y: scroll;
		}

		.editor {
			height: 100%;
			width: 100%;

			.EasyMDEContainer {
				height: 100%;

				.editor-toolbar {
					height: 50px;
					background-color: darkgray;
					border: none;
					border-radius: 0;
				}

				.CodeMirror {
					height: calc(100% - 90px);
				}

				.editor-statusbar {
					height: 40px;
				}
			}
		}
	}
}