.App {
	background-color: lightgray;
	height: 100vh;
	display: flex;

	.sidebar {
		width: 20%;
		border-right: black solid 2px;
		height: 100%;

		.sidebar-buttons {
			height: 50px;
			background-color: darkgray;
		}

		.notes-list {
			max-height: calc(100% - 50px);
			overflow-y: scroll;
		}
	}

	.workspace {
			width: 80%;
			height: 100%;
	}
}